{
  "info": {
    "title": "Tailorkit Platform API",
    "version": "0.0.0"
  },
  "servers": [
    {
      "url": "https://tailorkit.dev/api/platform"
    }
  ],
  "openapi": "3.1.1",
  "paths": {
    "/apps": {
      "get": {
        "operationId": "apps.list",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 1
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 20
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "scopeId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "publicId": {
                            "type": "string"
                          },
                          "projectId": {
                            "type": "string"
                          },
                          "scopeId": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "currentDeploymentId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "x-native-type": "date"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "x-native-type": "date"
                          },
                          "currentDeployment": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "publicId": {
                                    "type": "string"
                                  },
                                  "appId": {
                                    "type": "string"
                                  },
                                  "status": {
                                    "enum": ["uploading", "deploying", "verifying", "published"],
                                    "type": "string"
                                  },
                                  "clientEntryFileId": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "logoLightFileId": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "logoDarkFileId": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "logoLightPath": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "logoDarkPath": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "createdAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "x-native-type": "date"
                                  },
                                  "updatedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "x-native-type": "date"
                                  }
                                },
                                "required": [
                                  "id",
                                  "publicId",
                                  "appId",
                                  "status",
                                  "clientEntryFileId",
                                  "logoLightFileId",
                                  "logoDarkFileId",
                                  "logoLightPath",
                                  "logoDarkPath",
                                  "createdAt",
                                  "updatedAt"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "clientPath": {
                            "type": "string"
                          },
                          "logoPaths": {
                            "type": "object",
                            "properties": {
                              "dark": {
                                "type": "string"
                              },
                              "light": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "publicId",
                          "projectId",
                          "scopeId",
                          "name",
                          "description",
                          "currentDeploymentId",
                          "createdAt",
                          "updatedAt",
                          "currentDeployment"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "hasMore": {
                          "type": "boolean"
                        },
                        "page": {
                          "type": "number"
                        },
                        "pageSize": {
                          "type": "number"
                        }
                      },
                      "required": ["hasMore", "page", "pageSize"]
                    }
                  },
                  "required": ["items", "pagination"]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "apps.create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "scopeId": {
                    "type": "string"
                  }
                },
                "required": ["name", "description", "scopeId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "publicId": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "scopeId": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "currentDeploymentId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "currentDeployment": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "publicId": {
                              "type": "string"
                            },
                            "appId": {
                              "type": "string"
                            },
                            "status": {
                              "enum": ["uploading", "deploying", "verifying", "published"],
                              "type": "string"
                            },
                            "clientEntryFileId": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoLightFileId": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoDarkFileId": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoLightPath": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoDarkPath": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time",
                              "x-native-type": "date"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time",
                              "x-native-type": "date"
                            }
                          },
                          "required": [
                            "id",
                            "publicId",
                            "appId",
                            "status",
                            "clientEntryFileId",
                            "logoLightFileId",
                            "logoDarkFileId",
                            "logoLightPath",
                            "logoDarkPath",
                            "createdAt",
                            "updatedAt"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "clientPath": {
                      "type": "string"
                    },
                    "logoPaths": {
                      "type": "object",
                      "properties": {
                        "dark": {
                          "type": "string"
                        },
                        "light": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "id",
                    "publicId",
                    "projectId",
                    "scopeId",
                    "name",
                    "description",
                    "currentDeploymentId",
                    "createdAt",
                    "updatedAt",
                    "currentDeployment"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apps/{appId}": {
      "get": {
        "operationId": "apps.get",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scopeId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "publicId": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "scopeId": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "currentDeploymentId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "currentDeployment": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "publicId": {
                              "type": "string"
                            },
                            "appId": {
                              "type": "string"
                            },
                            "status": {
                              "enum": ["uploading", "deploying", "verifying", "published"],
                              "type": "string"
                            },
                            "clientEntryFileId": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoLightFileId": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoDarkFileId": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoLightPath": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoDarkPath": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time",
                              "x-native-type": "date"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time",
                              "x-native-type": "date"
                            }
                          },
                          "required": [
                            "id",
                            "publicId",
                            "appId",
                            "status",
                            "clientEntryFileId",
                            "logoLightFileId",
                            "logoDarkFileId",
                            "logoLightPath",
                            "logoDarkPath",
                            "createdAt",
                            "updatedAt"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "clientPath": {
                      "type": "string"
                    },
                    "logoPaths": {
                      "type": "object",
                      "properties": {
                        "dark": {
                          "type": "string"
                        },
                        "light": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "id",
                    "publicId",
                    "projectId",
                    "scopeId",
                    "name",
                    "description",
                    "currentDeploymentId",
                    "createdAt",
                    "updatedAt",
                    "currentDeployment"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "apps.delete",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scopeId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  },
                  "required": ["id"]
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "apps.update",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scopeId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": ["name", "description"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "publicId": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "scopeId": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "currentDeploymentId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "currentDeployment": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "publicId": {
                              "type": "string"
                            },
                            "appId": {
                              "type": "string"
                            },
                            "status": {
                              "enum": ["uploading", "deploying", "verifying", "published"],
                              "type": "string"
                            },
                            "clientEntryFileId": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoLightFileId": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoDarkFileId": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoLightPath": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoDarkPath": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time",
                              "x-native-type": "date"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time",
                              "x-native-type": "date"
                            }
                          },
                          "required": [
                            "id",
                            "publicId",
                            "appId",
                            "status",
                            "clientEntryFileId",
                            "logoLightFileId",
                            "logoDarkFileId",
                            "logoLightPath",
                            "logoDarkPath",
                            "createdAt",
                            "updatedAt"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "clientPath": {
                      "type": "string"
                    },
                    "logoPaths": {
                      "type": "object",
                      "properties": {
                        "dark": {
                          "type": "string"
                        },
                        "light": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "id",
                    "publicId",
                    "projectId",
                    "scopeId",
                    "name",
                    "description",
                    "currentDeploymentId",
                    "createdAt",
                    "updatedAt",
                    "currentDeployment"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apps/{appId}/deploy": {
      "post": {
        "operationId": "apps.deploy",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scopeId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deploymentId": {
                    "type": "string"
                  }
                },
                "required": ["deploymentId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "publicId": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "scopeId": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "currentDeploymentId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "currentDeployment": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "publicId": {
                              "type": "string"
                            },
                            "appId": {
                              "type": "string"
                            },
                            "status": {
                              "enum": ["uploading", "deploying", "verifying", "published"],
                              "type": "string"
                            },
                            "clientEntryFileId": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoLightFileId": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoDarkFileId": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoLightPath": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "logoDarkPath": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time",
                              "x-native-type": "date"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time",
                              "x-native-type": "date"
                            }
                          },
                          "required": [
                            "id",
                            "publicId",
                            "appId",
                            "status",
                            "clientEntryFileId",
                            "logoLightFileId",
                            "logoDarkFileId",
                            "logoLightPath",
                            "logoDarkPath",
                            "createdAt",
                            "updatedAt"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "clientPath": {
                      "type": "string"
                    },
                    "logoPaths": {
                      "type": "object",
                      "properties": {
                        "dark": {
                          "type": "string"
                        },
                        "light": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "id",
                    "publicId",
                    "projectId",
                    "scopeId",
                    "name",
                    "description",
                    "currentDeploymentId",
                    "createdAt",
                    "updatedAt",
                    "currentDeployment"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/cli-auth/approve": {
      "post": {
        "operationId": "cliAuth.approve",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scopeId": {
                    "type": "string"
                  },
                  "userCode": {
                    "type": "string"
                  }
                },
                "required": ["scopeId", "userCode"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  },
                  "required": ["id"]
                }
              }
            }
          }
        }
      }
    },
    "/cli-auth/deny": {
      "post": {
        "operationId": "cliAuth.deny",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userCode": {
                    "type": "string"
                  }
                },
                "required": ["userCode"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  },
                  "required": ["id"]
                }
              }
            }
          }
        }
      }
    },
    "/cli-auth/poll": {
      "post": {
        "operationId": "cliAuth.poll",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deviceCode": {
                    "type": "string"
                  }
                },
                "required": ["deviceCode"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": "pending"
                        }
                      },
                      "required": ["status"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": "denied"
                        }
                      },
                      "required": ["status"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "deployToken": {
                          "type": "string"
                        },
                        "scopeId": {
                          "type": "string"
                        },
                        "status": {
                          "const": "approved"
                        }
                      },
                      "required": ["deployToken", "scopeId", "status"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "const": "expired"
                        }
                      },
                      "required": ["status"]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/cli-auth/start": {
      "post": {
        "operationId": "cliAuth.start",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deviceCode": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "userCode": {
                      "type": "string"
                    }
                  },
                  "required": ["deviceCode", "expiresAt", "userCode"]
                }
              }
            }
          }
        }
      }
    },
    "/cli-auth/verify-token": {
      "post": {
        "operationId": "cliAuth.verifyToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deployToken": {
                    "type": "string"
                  }
                },
                "required": ["deployToken"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "scopeId": {
                      "type": "string"
                    }
                  },
                  "required": ["scopeId"]
                }
              }
            }
          }
        }
      }
    },
    "/deployments": {
      "get": {
        "operationId": "deployments.list",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 1
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 20
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "scopeId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "publicId": {
                            "type": "string"
                          },
                          "appId": {
                            "type": "string"
                          },
                          "status": {
                            "enum": ["uploading", "deploying", "verifying", "published"],
                            "type": "string"
                          },
                          "clientEntryFileId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "logoLightFileId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "logoDarkFileId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "logoLightPath": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "logoDarkPath": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "x-native-type": "date"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "x-native-type": "date"
                          }
                        },
                        "required": [
                          "id",
                          "publicId",
                          "appId",
                          "status",
                          "clientEntryFileId",
                          "logoLightFileId",
                          "logoDarkFileId",
                          "logoLightPath",
                          "logoDarkPath",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "hasMore": {
                          "type": "boolean"
                        },
                        "page": {
                          "type": "number"
                        },
                        "pageSize": {
                          "type": "number"
                        }
                      },
                      "required": ["hasMore", "page", "pageSize"]
                    }
                  },
                  "required": ["items", "pagination"]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "deployments.create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appId": {
                    "type": "string"
                  },
                  "assets": {
                    "type": "array",
                    "prefixItems": [
                      {
                        "type": "object",
                        "properties": {
                          "checksum": {
                            "type": "string"
                          },
                          "contentLength": {
                            "type": "number"
                          },
                          "contentType": {
                            "const": "application/javascript"
                          },
                          "encoding": {
                            "const": "utf-8"
                          },
                          "objectKey": {
                            "const": "client.js"
                          }
                        },
                        "required": [
                          "checksum",
                          "contentLength",
                          "contentType",
                          "encoding",
                          "objectKey"
                        ]
                      }
                    ]
                  },
                  "logos": {
                    "type": "object",
                    "properties": {
                      "dark": {
                        "type": "object",
                        "properties": {
                          "checksum": {
                            "type": "string"
                          },
                          "contentLength": {
                            "type": "number"
                          },
                          "contentType": {
                            "enum": ["image/svg+xml", "image/png", "image/webp"],
                            "type": "string"
                          }
                        },
                        "required": ["checksum", "contentLength", "contentType"]
                      },
                      "light": {
                        "type": "object",
                        "properties": {
                          "checksum": {
                            "type": "string"
                          },
                          "contentLength": {
                            "type": "number"
                          },
                          "contentType": {
                            "enum": ["image/svg+xml", "image/png", "image/webp"],
                            "type": "string"
                          }
                        },
                        "required": ["checksum", "contentLength", "contentType"]
                      }
                    }
                  },
                  "scopeId": {
                    "type": "string"
                  }
                },
                "required": ["appId", "assets", "scopeId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "file": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "appDeploymentId": {
                                "type": "string"
                              },
                              "objectKey": {
                                "type": "string"
                              },
                              "contentType": {
                                "enum": [
                                  "application/javascript",
                                  "image/svg+xml",
                                  "image/png",
                                  "image/webp"
                                ],
                                "type": "string"
                              },
                              "encoding": {
                                "anyOf": [
                                  {
                                    "enum": ["utf-8"],
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "contentLength": {
                                "type": "number"
                              },
                              "checksum": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "status": {
                                "enum": ["uploading", "verifying", "verified", "failed"],
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "x-native-type": "date"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "x-native-type": "date"
                              }
                            },
                            "required": [
                              "id",
                              "appDeploymentId",
                              "objectKey",
                              "contentType",
                              "encoding",
                              "contentLength",
                              "checksum",
                              "status",
                              "createdAt",
                              "updatedAt"
                            ]
                          },
                          "headers": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {
                              "type": "string"
                            }
                          },
                          "uploadUrl": {
                            "type": "string"
                          }
                        },
                        "required": ["file", "uploadUrl"]
                      }
                    },
                    "deployment": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "publicId": {
                          "type": "string"
                        },
                        "appId": {
                          "type": "string"
                        },
                        "status": {
                          "enum": ["uploading", "deploying", "verifying", "published"],
                          "type": "string"
                        },
                        "clientEntryFileId": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "logoLightFileId": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "logoDarkFileId": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "logoLightPath": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "logoDarkPath": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "x-native-type": "date"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "x-native-type": "date"
                        }
                      },
                      "required": [
                        "id",
                        "publicId",
                        "appId",
                        "status",
                        "clientEntryFileId",
                        "logoLightFileId",
                        "logoDarkFileId",
                        "logoLightPath",
                        "logoDarkPath",
                        "createdAt",
                        "updatedAt"
                      ]
                    },
                    "logos": {
                      "type": "object",
                      "properties": {
                        "dark": {
                          "type": "object",
                          "properties": {
                            "file": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "appDeploymentId": {
                                  "type": "string"
                                },
                                "objectKey": {
                                  "type": "string"
                                },
                                "contentType": {
                                  "enum": ["image/svg+xml", "image/png", "image/webp"],
                                  "type": "string"
                                },
                                "encoding": {
                                  "anyOf": [
                                    {
                                      "enum": ["utf-8"],
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "contentLength": {
                                  "type": "number"
                                },
                                "checksum": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "status": {
                                  "enum": ["uploading", "verifying", "verified", "failed"],
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "x-native-type": "date"
                                },
                                "updatedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "x-native-type": "date"
                                }
                              },
                              "required": [
                                "id",
                                "appDeploymentId",
                                "objectKey",
                                "contentType",
                                "encoding",
                                "contentLength",
                                "checksum",
                                "status",
                                "createdAt",
                                "updatedAt"
                              ]
                            },
                            "headers": {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {
                                "type": "string"
                              }
                            },
                            "uploadUrl": {
                              "type": "string"
                            }
                          },
                          "required": ["file"]
                        },
                        "light": {
                          "type": "object",
                          "properties": {
                            "file": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "appDeploymentId": {
                                  "type": "string"
                                },
                                "objectKey": {
                                  "type": "string"
                                },
                                "contentType": {
                                  "enum": ["image/svg+xml", "image/png", "image/webp"],
                                  "type": "string"
                                },
                                "encoding": {
                                  "anyOf": [
                                    {
                                      "enum": ["utf-8"],
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "contentLength": {
                                  "type": "number"
                                },
                                "checksum": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "status": {
                                  "enum": ["uploading", "verifying", "verified", "failed"],
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "x-native-type": "date"
                                },
                                "updatedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "x-native-type": "date"
                                }
                              },
                              "required": [
                                "id",
                                "appDeploymentId",
                                "objectKey",
                                "contentType",
                                "encoding",
                                "contentLength",
                                "checksum",
                                "status",
                                "createdAt",
                                "updatedAt"
                              ]
                            },
                            "headers": {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {
                                "type": "string"
                              }
                            },
                            "uploadUrl": {
                              "type": "string"
                            }
                          },
                          "required": ["file"]
                        }
                      }
                    }
                  },
                  "required": ["assets", "deployment"]
                }
              }
            }
          }
        }
      }
    },
    "/deployments/{deploymentId}": {
      "get": {
        "operationId": "deployments.get",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scopeId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "publicId": {
                      "type": "string"
                    },
                    "appId": {
                      "type": "string"
                    },
                    "status": {
                      "enum": ["uploading", "deploying", "verifying", "published"],
                      "type": "string"
                    },
                    "clientEntryFileId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "logoLightFileId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "logoDarkFileId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "logoLightPath": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "logoDarkPath": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    }
                  },
                  "required": [
                    "id",
                    "publicId",
                    "appId",
                    "status",
                    "clientEntryFileId",
                    "logoLightFileId",
                    "logoDarkFileId",
                    "logoLightPath",
                    "logoDarkPath",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "deployments.publish",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scopeId": {
                    "type": "string"
                  },
                  "rollout": {
                    "type": "boolean",
                    "default": true
                  }
                },
                "required": ["scopeId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "publicId": {
                      "type": "string"
                    },
                    "appId": {
                      "type": "string"
                    },
                    "status": {
                      "enum": ["uploading", "deploying", "verifying", "published"],
                      "type": "string"
                    },
                    "clientEntryFileId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "logoLightFileId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "logoDarkFileId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "logoLightPath": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "logoDarkPath": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    }
                  },
                  "required": [
                    "id",
                    "publicId",
                    "appId",
                    "status",
                    "clientEntryFileId",
                    "logoLightFileId",
                    "logoDarkFileId",
                    "logoLightPath",
                    "logoDarkPath",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/preview/start": {
      "post": {
        "operationId": "preview.start",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appId": {
                    "type": "string"
                  },
                  "deployToken": {
                    "type": "string"
                  }
                },
                "required": ["appId", "deployToken"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "sessionId": {
                      "type": "string"
                    },
                    "tunnelToken": {
                      "type": "string"
                    },
                    "tunnelUrl": {
                      "type": "string"
                    }
                  },
                  "required": ["expiresAt", "sessionId", "tunnelToken", "tunnelUrl"]
                }
              }
            }
          }
        }
      }
    },
    "/preview/{sessionId}": {
      "get": {
        "operationId": "preview.resolve",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scopeId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "appId": {
                      "type": "string"
                    },
                    "clientPath": {
                      "type": "string"
                    },
                    "sessionId": {
                      "type": "string"
                    },
                    "status": {
                      "enum": ["connected", "offline"],
                      "type": "string"
                    }
                  },
                  "required": ["appId", "clientPath", "sessionId", "status"]
                }
              }
            }
          }
        }
      }
    },
    "/preview/{sessionId}/stop": {
      "post": {
        "operationId": "preview.stop",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deployToken": {
                    "type": "string"
                  }
                },
                "required": ["deployToken"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}
