{
  "info": {
    "title": "Tailorkit Platform API",
    "version": "0.0.0"
  },
  "servers": [
    {
      "url": "https://tailorkit.dev/api/platform"
    }
  ],
  "openapi": "3.1.1",
  "paths": {
    "/apps": {
      "get": {
        "operationId": "apps.list",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991,
              "default": 1
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "projectId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "resourceId": {
                            "type": "string",
                            "maxLength": 255
                          },
                          "name": {
                            "type": "string",
                            "maxLength": 127
                          },
                          "description": {
                            "anyOf": [
                              {
                                "type": "string",
                                "maxLength": 255
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "currentDeploymentId": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "uuid"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "x-native-type": "date"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "x-native-type": "date"
                          }
                        },
                        "required": [
                          "id",
                          "projectId",
                          "resourceId",
                          "name",
                          "description",
                          "currentDeploymentId",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "hasMore": {
                          "type": "boolean"
                        },
                        "page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        },
                        "pageSize": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 100
                        }
                      },
                      "required": ["hasMore", "page", "pageSize"]
                    }
                  },
                  "required": ["items", "pagination"]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "apps.create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 127
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 255
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "resourceId": {
                    "type": "string",
                    "maxLength": 255
                  }
                },
                "required": ["name", "description", "resourceId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "projectId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "resourceId": {
                      "type": "string",
                      "maxLength": 255
                    },
                    "name": {
                      "type": "string",
                      "maxLength": 127
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string",
                          "maxLength": 255
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "currentDeploymentId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    }
                  },
                  "required": [
                    "id",
                    "projectId",
                    "resourceId",
                    "name",
                    "description",
                    "currentDeploymentId",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apps/{appId}": {
      "get": {
        "operationId": "apps.get",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "projectId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "resourceId": {
                      "type": "string",
                      "maxLength": 255
                    },
                    "name": {
                      "type": "string",
                      "maxLength": 127
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string",
                          "maxLength": 255
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "currentDeploymentId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    }
                  },
                  "required": [
                    "id",
                    "projectId",
                    "resourceId",
                    "name",
                    "description",
                    "currentDeploymentId",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "apps.delete",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "required": ["id"]
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "apps.update",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 127
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 255
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "resourceId": {
                    "type": "string",
                    "maxLength": 255
                  }
                },
                "required": ["name", "description", "resourceId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "projectId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "resourceId": {
                      "type": "string",
                      "maxLength": 255
                    },
                    "name": {
                      "type": "string",
                      "maxLength": 127
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string",
                          "maxLength": 255
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "currentDeploymentId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    }
                  },
                  "required": [
                    "id",
                    "projectId",
                    "resourceId",
                    "name",
                    "description",
                    "currentDeploymentId",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apps/{appId}/deploy": {
      "post": {
        "operationId": "apps.deploy",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deploymentId": {
                    "type": "string"
                  }
                },
                "required": ["deploymentId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "projectId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "resourceId": {
                      "type": "string",
                      "maxLength": 255
                    },
                    "name": {
                      "type": "string",
                      "maxLength": 127
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string",
                          "maxLength": 255
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "currentDeploymentId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    }
                  },
                  "required": [
                    "id",
                    "projectId",
                    "resourceId",
                    "name",
                    "description",
                    "currentDeploymentId",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apps/{appId}/deployments": {
      "get": {
        "operationId": "deployments.list",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991,
              "default": 1
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "appId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "status": {
                            "enum": ["uploading", "deploying", "verifying", "published"],
                            "type": "string"
                          },
                          "clientEntryFileId": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "uuid"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "x-native-type": "date"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "x-native-type": "date"
                          }
                        },
                        "required": [
                          "id",
                          "appId",
                          "status",
                          "clientEntryFileId",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "hasMore": {
                          "type": "boolean"
                        },
                        "page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        },
                        "pageSize": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 100
                        }
                      },
                      "required": ["hasMore", "page", "pageSize"]
                    }
                  },
                  "required": ["items", "pagination"]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "deployments.create",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "assets": {
                    "type": "array",
                    "prefixItems": [
                      {
                        "type": "object",
                        "properties": {
                          "contentType": {
                            "enum": ["application/javascript"],
                            "type": "string"
                          },
                          "encoding": {
                            "enum": ["utf-8"],
                            "type": "string"
                          },
                          "checksum": {
                            "type": "string",
                            "pattern": "^[a-f0-9]{64}$"
                          },
                          "contentLength": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 1048576
                          },
                          "objectKey": {
                            "type": "string",
                            "maxLength": 255,
                            "pattern": "^(?:[a-zA-Z0-9._-]+\\/)*[a-zA-Z0-9._-]+\\.[a-zA-Z0-9]+$"
                          }
                        },
                        "required": [
                          "contentType",
                          "encoding",
                          "checksum",
                          "contentLength",
                          "objectKey"
                        ]
                      }
                    ]
                  }
                },
                "required": ["assets"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "type": "object",
                          "properties": {
                            "file": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "appDeploymentId": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "objectKey": {
                                  "type": "string",
                                  "maxLength": 512,
                                  "pattern": "^(?:[a-zA-Z0-9._-]+\\/)*[a-zA-Z0-9._-]+\\.[a-zA-Z0-9]+$"
                                },
                                "contentType": {
                                  "enum": ["application/javascript"],
                                  "type": "string"
                                },
                                "encoding": {
                                  "enum": ["utf-8"],
                                  "type": "string"
                                },
                                "contentLength": {
                                  "type": "integer",
                                  "minimum": -2147483648,
                                  "maximum": 2147483647
                                },
                                "checksum": {
                                  "anyOf": [
                                    {
                                      "type": "string",
                                      "maxLength": 64
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "status": {
                                  "enum": ["uploading", "verifying", "verified", "failed"],
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "x-native-type": "date"
                                },
                                "updatedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "x-native-type": "date"
                                }
                              },
                              "required": [
                                "id",
                                "appDeploymentId",
                                "objectKey",
                                "contentType",
                                "encoding",
                                "contentLength",
                                "checksum",
                                "status",
                                "createdAt",
                                "updatedAt"
                              ]
                            },
                            "headers": {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {
                                "type": "string"
                              }
                            },
                            "uploadUrl": {
                              "type": "string",
                              "format": "uri"
                            }
                          },
                          "required": ["file", "uploadUrl"]
                        }
                      ]
                    },
                    "deployment": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "appId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "enum": ["uploading", "deploying", "verifying", "published"],
                          "type": "string"
                        },
                        "clientEntryFileId": {
                          "anyOf": [
                            {
                              "type": "string",
                              "format": "uuid"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "x-native-type": "date"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "x-native-type": "date"
                        }
                      },
                      "required": [
                        "id",
                        "appId",
                        "status",
                        "clientEntryFileId",
                        "createdAt",
                        "updatedAt"
                      ]
                    }
                  },
                  "required": ["assets", "deployment"]
                }
              }
            }
          }
        }
      }
    },
    "/apps/{appId}/deployments/{deploymentId}": {
      "get": {
        "operationId": "deployments.get",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "appId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "enum": ["uploading", "deploying", "verifying", "published"],
                      "type": "string"
                    },
                    "clientEntryFileId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    }
                  },
                  "required": [
                    "id",
                    "appId",
                    "status",
                    "clientEntryFileId",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "deployments.publish",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rollout": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "appId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "enum": ["uploading", "deploying", "verifying", "published"],
                      "type": "string"
                    },
                    "clientEntryFileId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "x-native-type": "date"
                    }
                  },
                  "required": [
                    "id",
                    "appId",
                    "status",
                    "clientEntryFileId",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}
